<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />

		<link href="http://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="/frozen-moment/static/css/style.css" />
		<link rel="shortcut icon" href="/frozen-moment/static/img/{{repo}}-favicon.png" />

		<title>Frozen Moment | {{title}}</title>
	</head>

	<body>
		<nav class="hero hero-oneline">
			<div class="hero-centered">
				<div class="nav-pages">
					{{#withSort pages 'data.order'}}
						<a href="{{stripIndex relativeLink}}" {{#if isCurrentPage}}class="active"{{/if}}>{{data.title}}</a>
					{{/withSort}}
					<a href="https://github.com/WhoopInc/frozen-moment/">Fork on GitHub</a>
				</div>
				<h1><a href="/frozen-moment/">FrozenMoment</a></h1>
			</div>
		</nav>

		{{> body }}

		<footer>
			<p>FrozenMoment is freely distributable under <a href="https://tldrlegal.com/license/mit-license">the terms</a> of the <a href="https://github.com/WhoopInc/frozen-moment/blob/develop/LICENSE">MIT license</a>.</p>
		</footer>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="/frozen-moment/static/js/global.js"></script>
		{{#each scripts}}
			<script src="/frozen-moment/static/js/{{this}}.js"></script>
		{{/each}}
	</body>
</html>
